.card {
  border: 3px solid black;
}
.card__item {
}
.card_button {
}
.card__section{
  border: 3px solid black;
}
.card__bookmark{
  position: relative;
  top: 0%;
  right: -46%;
  height: 55px;
  width: 55px;
}
.hide {
  display: none;
}
