.card {
}
.card__item {
}
.card_button {
}
.card__section {
  border: 1px outset grey;
}
.card__bookmark {
  position: relative;
  top: 0%;
  right: -46%;
  height: 55px;
  width: 55px;
}
.hide {
  display: none;
}
