.navbar {
  border: 3px solid black;
  position: static;
}
.navbar__ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
.navbar_li {
}
.navbar__button {
}
.navbar__button__highlight {
  background-color: greenyellow;
}
